{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<script src="{% static 'admin/js/jquery.init.js' %}"></script>
{% block content %}
    <style>
        .custom-card {
            padding: 10px;
            width: 500px;
            height: 850px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-left: -278px;
        }

        .col-md-6 {
            float: right; /* Плавающее выравнивание справа */
            margin-top: -850px; /* Смещение вверх на 20px (измените значение по вашему усмотрению) */
        }

        .img-fluid {
            width: 50%;
            height: auto;
            object-fit: cover;
        }

    </style>
    <br>
    <section>
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card custom-card">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">FORMULARZ ZAMÓWIENIA</h2>

                                <form action="{% url 'order' %}" method="post">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <br>
                                    <div class="d-flex justify-content-between">
                                        <a href="{% url 'main' %}" class="btn btn-danger custom-btn">Zmieniłem
                                            zdanie</a>
                                        <input type="submit" class="btn btn-success custom-btn" value="Potwierdzam">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <img src="{% static 'main/legalservices.jpg' %}" alt="Your Image" class="img-fluid">
                <br>
                <p>Potrzebujesz dokumentów do transportu zwierzęcia? Nasza firma właśnie to robi!</p>
                <p>Aby to zrobić, należy:</p>
                <ol>
                    <li>Wypełnić formularz</li>
                    <li>Oczekiwanie na kontakt ze strony naszego personelu</li>
                    <li>Omówić i potwierdzić wszystkie kwestie wskazane w formularzu</li>
                    <li>Zapłata za usługi</li>
                    <li>Oczekiwanie na przesłanie dokumentów</li>
                </ol>
            </div>
        </div>
    </section>
    <br>
{% endblock %}
